<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
    <style>
        <%- include('scrollbar.css') %>
        <%- include('index.css') %>
    </style>
    <div class="container" id="wrapper">
        <div class="row" id="inner">
            <div id="list" class="col col-sm-4">
            </div>
            <div id="chat" class="col col-sm-8">
                <div id="chatDisplay">
                </div>
                <div id="chatInput">
                    <textarea name="" id="chatInputArea" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script><%- include('index.js') %></script>
</body>
</html>