<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
</head>
<body>
    <style>
        <%- include('scrollbar.css') %>
        <%- include('index.css') %>
    </style>
    <div class="container-fluid" id="wrapper">

        <div class="row" id="inner">
            <div id="list-container" class="col col-sm-3">
                <div class="container-fluid">
                    <div class="row" id="username-input">
                        <div class="col col-sm-12" style="padding:0.5em">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" id="username-textbox" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="groupInput">
                        <div class="input-group">
                        <input type="text" placeholder="GroupID" class="form-control" aria-label="..." id="group-textbox">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li onclick="createGroupBtn()"><a href="#">Create</a></li>
                            <li onclick="joinGroupBtn()"><a href="#">Join</a></li>
                            <li onclick="leaveGroupBtn()"><a href="#">Leave</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div>
                    <div class="row" id="group-list">

                    </div>
                </div>
            </div>
            <div id="chat" class="col col-sm-9">
                <div id="chat-display">

                </div>
                <div id="chat-input">
                    <input type="text" name="" id="chat-input-area" cols="30" rows="10"></input>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script><%- include('index.js') %></script>
</body>
</html>