body,html{
    font-family: Helvetica, sans-serif;
}
#wrapper{
    height: 100vh;
    overflow-y:hidden;
}
#inner{
    position:absolute;
    width:100%;
    bottom:0;
    top:3em;
}
#usernameInput{
    height:3em;
    background:#ddd;
}
#usernameTextbox{
    height:1.5em;
}
#list{
    border-right: 1px;
    border-right-style:solid;
    border-color:#eee;
    /*background: #555;*/
    padding:0;
    height:100%;
}
#chat{
    height:100%;
    padding:0;
}
#chatDisplay{
    position:absolute;
    width:100%;
    top:0;
    bottom:3em;
}
#chatInput{
    border-top: 1px;
    border-top-style:solid;
    border-color:#eee;
    position:absolute;
    height:3em;
    width:100%;
    bottom:0;
}
#chatInputArea{
    position:absolute;
    resize: none;
    padding:0.37em;
    font-size:1.5em;
    color:#222;
    background:#fff;
    border:none;
    width:100%;    
    top:0;
    bottom:0em;
}
#chatInputArea:focus {
    outline: none !important;
    /*box-shadow: 0 0 10px #719ECE;*/
}